BOT_TOKEN=<bot_token>
CHAT_ID=<chat_id>
STRIPE_KEY=<stripe_key>
FINE_MULTIPLIER=<multiplier_for_overdue_payment>
SECRET_KEY=<django_secret_key>

POSTGRES_DB=<db_name>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
POSTGRES_PORT=<db_port>